{% extends 'master.html' %}

{% block title %}Sign up{% endblock %}

{% block main %}
  <div class="well">
      <h2>Welcome to Orario</h2>
      <div class='lead'>Simplify the way you create your University Schedule. </div>
      <h3>Some of our Features Include:</h3>
      <ul>
        <li>View Your Program's Sequence</li>
        <li>Browse Courses</li>
        <li>Generate a Schedule for yourself based on <b>Your</b> prefences.</li>
      </ul>
      <button class='btn btn-primary btn-lg'>Sign up!</button>
  </div>
{% endblock %}
