{% extends 'master.html' %}

{% block title %}Add Section{% endblock %}

{% block subheader %}Add Section{% endblock %}

{% block content %}
<div class="container">
  <p class="lead">Choose a section</p>
  <form id="busy_form" class="row" role="form" method="post" action="{% url 'section' schedule.pk %}">
    {% csrf_token %}
    <div class="col-md-6">
      <div class="form-group">
        <label for="{{ form.section.auto_id }}">Section</label>
        <select class="form-control" id="{{ form.section.auto_id }}" name="{{ form.section.html_name }}">
          {% for value, text in form.section.field.choices %}
          {% ifequal form.section.value value %}
          <option value="{{ value }}" selected>{{ text }}</option>
          {% else %}
          <option value="{{ value }}">{{ text }}</option>
          {% endifequal %}
          {% endfor %}
        </select>
      </div>
      <button class="btn btn-success btn-lg btn-block" type="submit">
        Add Section <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </div>
  </form>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  $("#{{ form.section.auto_id }}").chosen();
});
</script>
{% endblock %}
